body { width:100%; height:100%; margin: 0px; padding: 0px; }
#main { position: absolute; margin:0px; padding:0px; border: 0px solid #ccc; width: 100%; height: 100%; background-repeat: no-repeat; background-position: 50% 40%; background-image: url(../images/npush.png); }